body {
    background-color: #1C1C1C; 
}

/* menu */

header {
    
    background-color: #9370DB;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 15px 10px; 
    
}

.main-logo, .reverse-rocket {
    padding: 10px 10px;
    color: #F0FFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-shadow: 1px 8px 8px #D3D3D3; 
    
}

h2.reverse-rocket {
    font-size: 35px;
    transform: rotate(90deg);
    margin-right: 700px;
}

.nav-items {
    margin-left: 24px;
    font-size: 35px;
    font-family: 'Josefin Slab', serif;
    color: white;
    
}

/* Tirar o sublinhado feio */

a:hover {
    color: #68228B;
}

a {
    text-decoration: none;
}

/* corpo */

main > div {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
}

div > h1 {
    color: #F0FFFF;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
}

div > h3 {
    transform: rotate(90deg);
    font-size: 35px;
}

main > p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #F0FFFF;
}

main > p > span {
    color: #9370DB;
}

#botao{ text-align: center }
.botaoEnviar{
    cursor: pointer;
    font-family: 'Raleway';
    margin-top: 20px;
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #9370DB;
    font-size: 18px;
}
 